html, body {
    height: 100%;
    margin: 0;
    background: #222222;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

th, td {
    color: rgb(202, 202, 202);
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    padding: 8px;
}

th {
    text-align: left;
}

#table_heading{
    color: white;
    background-color: #414141;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    padding: 15px;
}

#safety_status_text{
    color: rgb(255, 71, 95);
}

#bg_img{
    /* background-image: url('../images/bg3.jpg'); */
    background-size:cover;
    z-index:-1;
    filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

#fg{
    height: 100%;
    background-color: rgb(34, 34, 34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    text-align: center;
}

label {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
    border: 5px;
    padding: 5px;
}

select {
    height: 2pc;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: white;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(20, 20, 20);
}

option {
    height: 2pc;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: white;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(20, 20, 20, 0.25);
}

input {
    height: 1.5pc;
    margin-top: 5px;
    margin-bottom: 15px;
}

#conn_icon {
    position:absolute;
    top: 30px;
    left: 17px;
    height: 1.5pc;
    width: 1.5pc;
    background-image: url("../images/wifi_conn.png");
    filter: opacity(0.5) drop-shadow(0 0 0 #8ad6cc) saturate(1000%);
    background-size: 75% 75%;
    background-position: center center;
    background-repeat: no-repeat;
}

#getButtonResult {
    height: 3pc;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    color: rgb(49, 49, 49);
    background: #8ad6cc;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}

button {
    height: 3pc;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    color: rgb(49, 49, 49);
    /* background: #8ad6cc; */
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}

#conn_status {
    margin-top: 35px;
}

p {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

#safety_status_text {
    white-space: pre-line;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: white;
}

h3 {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
}

canvas {
    text-align:center;
    margin: 0 auto;
}

#indicator {
    margin-left: 0%;
    margin-right: 75%;
    border: 0px solid rgb(255, 255, 255);
    border-width: 10px 0px 0px 0px;
}

#grahams_meter {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 0px solid white;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
}

#grahams_meter_seg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}