body {
    background: #111111;
}

p {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
}

label {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: white;
}

h3 {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
}

body {
    text-align:center;
    width: 50%;
    margin: 0 auto;
}